# Copy to .env and adjust. See Docs/STARTUP_PROCEDURE.md (Environment Variables).

# Used for native / Expo Go when not on localhost web. Example: http://10.0.0.25:8900/api
# EXPO_PUBLIC_API_URL=http://localhost:8900/api

EXPO_PUBLIC_CUSTOM_DOMAIN=kewlkids.ca
EXPO_PUBLIC_WEB_APP_HOST=organizer.kewlkids.ca
EXPO_PUBLIC_API_HOST=organizer-api.kewlkids.ca

# EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=
